; VIM configuration folder
vim/bundle/
vim/plugged/
vim/autoload/

; NVIM configuration folder
nvim/

ipython/profile_default/history.sqlite
ipython/profile_default/security/
ipython/profile_default/db/
terminal-color-theme/

; HTOPrc can be ignored as it changes when you changes views in the client
htop/htoprc

; Binary links
bin/nvim
bin/vim

; Ignore cookiecutter python environment if present
cookiecutter/env

; Ignore installed dependencies
bin/cookiecutter
bin/fzf
bin/tmux
fzf/
bash-git-prompt/

; Ignore installer downloads
installers/**/*.tar.gz
